# .gitignore
target/
.classpath
.project
.settings/
bin/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
logs/
*.log
*.iml
.idea/
*.swp
*.swo
.DS_Store
*.env
node_modules/
dist/
*.pid
*.seed
*.pid.lock
out/
*.class
*.factorypath
*.cache
